# extends 'base_doc.html'

# block content_doc
  <section id="faq">
    <h4>Why do I need Node.js?</h4>
    <p>
      To install some dependences like CoffeeScript, LessCSS, UglifyJS and
      Grunt. They are all installed inside the project's directory.
    </p>
    <h4>Why CoffeeScript?</h4>
    <p>
      Because it rocks!
    </p>
    <h4>Can I use JavaScript instead of CoffeeScript?</h4>
    <p>
      Yes, but you will not rock.
    </p>
    <h4>Why LESS?</h4>
    <p>
      Because it rocks as well!
    </p>
    <h4>Can I use CSS instead of LESS?</h4>
    <p>
      Yes, but you will not rock.
    </p>
    <h4>Why you think you are cooler than other AppEngine bootstrap projects?</h4>
    <p>
      Because we rock!
    </p>
    <h4>Can I help?</h4>
    <p>
      For sure! The project is made from us for us. Is something broken? Create an issue, 
      or if you rock, submit your pull request. Are you a test jedi? We would love to 
      hear some cool ideas about how we can set a clean testing suite. 
    </p>    
    <h4>It rocks, but I still don't get it. Can you help me?</h4>
    <p>
      Yes, you can ask questions using the <a href="{{url_for('feedback')}}">feedback form</a>
      or by sending an email to: <strong>gaeinit</strong> at <strong>gmail</strong> dot <strong>com</strong>
    </p>
  </section>
# endblock
